.gallery__heart {
    width: 23px;
    height: 20px;
    margin: 0;
    padding: 0;
    transition: 0.2s opacity;
    border: none;
    background-color: transparent;
    background-image: url(../../../images/heart.svg);
    background-size: 22px 19px;
    background-repeat: no-repeat;
    background-position: center;
}

.gallery__heart:hover {
    opacity: 0.5;
    cursor: pointer;
}
