.profile__name-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 19px;
}

@media screen and (max-width: 600px) {
    .profile__name-cont {
        column-gap: 9px;
    }
}